.parallax {
    /* The image used */
    background-image: url("https://www.talkwalker.com/images/2020/blog-headers/image-analysis.png");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .pa{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYBdRR32kMgOB2TXaoscDKyTEraz0ZCzDs1g&usqp=CAU");
  }